<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <title>订餐管理页面</title>
</head>

<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <a href="javascript:window.history.go(-1)"><返回</a>
            </td>
            <td width="80%" class="nav_title">订餐管理页面</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="indexmain" style="margin-top:40px;">
    <table width="100%" border="0" cellspacing="0" class="indexmain_1">
        <tr>
            <td>就餐食堂：</td>
            <td>{$markerName}</td>
        </tr>
        <tr>
            <td>就餐日期：</td>
            <td>{$date}</td>
        </tr>
    </table>

</div>
{foreach name="list" item="vo" key="k"}
<div class="rr">
    <table width="100%" border="0" cellspacing="0" class="my_name">
        <tr>
            <td class="col-40">{$k}餐</td>
            <td class="col-20"></td>
            <td class="col-40"></td>
        </tr>
        {foreach name="vo" item="v"}
        <tr>
            <td class="col-40">{$v.FNAME}</td>
            <td class="col-20">份数：{$v.FFOODNUM}</td>
            <td class="col-40">金额：{$v.FAMOUNT}</td>
        </tr>
        {/foreach}
    </table>
</div>
{/foreach}
</body>
</html>
