<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/style.css" rel="stylesheet"/>
    <link type="text/css" href="__LIB__/toast/jquery.toast.css" rel="stylesheet" />
    <title>重置密码</title>
</head>

<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1"><a href='javascript:window.history.go(-1)'>
                <返回
            </a></td>
            <td width="80%" class="nav_title">修改密码</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<!--/*主要部分*/-->
<div class="bodymain">
    <div class="pass">
        <table width="90%" border="0" cellspacing="0">
            <tr>
                <td>密码：</td>
                <td><input type="password" id="password" class="work"/></td>
            </tr>
            <tr>
                <td>确认新密码：</td>
                <td><input type="password" id="repassword" class="work"/></td>
            </tr>
        </table>
    </div>
    <div class="qrq">
        <input type="button" value="确认提交" class="qr">
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/toast/jquery.toast.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript">
    $(function () {
        $('#password').on('blur', function(){
            var password = $(this).val();
            if(password.length < 6 || password.length > 12){
                toast('密码长度6-12位');
                return false;
            }
        });
        $('#repassword').on('blur', function () {
            $('#password').trigger('blur');
            var newpassword = $('#password').val();
            var repassword = $(this).val();
            if(repassword != newpassword){
                toast('两次输入的密码不一致');
                return false;
            }
        })
        $('#reset').click(function(){
            $('#password').trigger('blur');
            $('#repassword').trigger('blur');
            var password = $('#password').val();
            var repassword = $('#repassword').val();
            $.ajax({
                type: 'POST',
                url: "{:url('index/Login/reset')}",
                dataType: 'json',
                data: {password: password, repassword: repassword},
                success: function (response) {
                    if(response.ret == -1){
                        toast(response.msg);
                        setTimeout(function(){
                            window.location.href = response.url;
                        }, 2000)
                    }else if(response.ret == 0){
                        toast(response.msg);
                    }else{
                        toast('重置密码成功');
                        setTimeout(function(){
                            window.location.href = response.url;
                        }, 2000)
                    }
                }
            })
        })
    })
</script>
</body>
</html>
