<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <link type="text/css" href="__LIB__/toast/jquery.toast.css" rel="stylesheet" />
    <title>食堂评论</title>
</head>
<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <a href="{:url('index/Index/index')}"><返回</a>
            </td>
            <td width="80%" class="nav_title">食堂评论</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="my">
    <table width="100%" border="0" cellspacing="0" class="my_name" id="drop-down-list" data-page="1" data-total="{$total}">
        <!--<tr>
            <td class="my_main_p">交易记录</td>
            <td class="my_mainn_pp"><span></span></td>
        </tr>-->
        {volist name="list" id="vo"}
        <tr>
            <td class="comment_date">{$vo.FDATETIME}</td>
            <td class="comment_cont">
                {$vo.EVALUATIONS}
            </td>
        </tr>
        {/volist}
    </table>
</div>
</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/toast/jquery.toast.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript">
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
            //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
            var page = $('#drop-down-list').data('page');
            var total = $('#drop-down-list').data('total');
            if (page < total) {
                $.ajax({
                    type: "POST",
                    url: "{:url('index/Comment/getList')}",
                    data : {'page': parseInt(page) + 1},
                    success: function(response) {
                        if(response.ret == -1){
                            toast(response.msg);
                            setTimeout(function(){
                                window.location.href = response.url;
                            }, 2000)
                        }else if(response.ret == 0){
                            toast(response.msg);
                        }else{
                            var html = '';
                            response.data.forEach(function(item){
                                html += '<tr>' +
                                            '<td class="comment_date">' + item.FDATETIME + '</td>' +
                                            '<td class="comment_cont">' + item.EVALUATIONS + '</td>' +
                                        '</tr>';
                            });
                            $('#drop-down-list').append(html);
                            $('#drop-down-list').data('page', parseInt(page) + 1);
                        }
                    }
                });
            } else if (page == total) {
                toast('没有更多评论了', 1);
            }
        }
    });
</script>
</html>
