<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <link type="text/css" href="__LIB__/toast/jquery.toast.css" rel="stylesheet" />
    <title>本公司订餐系统</title>
</head>
<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1"><a href='javascript:window.history.go(-1)'>
                <返回
            </a></td>
            <td width="80%" class="nav_title">欢迎进入订餐系统</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="xx">
    <div class="xx_1"><img src="__IMG__/ts.png" width="40%" height="auto"/></div>
    <div class="xx_2">欢迎进入订餐系统</div>
</div>

<!--/*主要部分*/-->
<div class="indexmain">
    <form action="{:url('index/Coffers/index')}" method="POST" id="form">
        <table width="100%" border="0" cellspacing="0" class="indexmain_1">
            <tr>
                <td>就餐日期：</td>
                <td><input id="date" name="date" type="date" class="search_2" value="" /></td>
            </tr>
        </table>
    </form>
    <table width="100%" border="0" cellspacing="0" class="indexmain_2">
        <tr>
            <td>
                <input type="submit" id="search" value="搜索菜谱" class="text2"/>
            </td>
        </tr>
    </table>
</div>
</div>

<div class="kb"></div>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/toast/jquery.toast.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript">
    $(function () {
        var dateChecked = 0;
        $('#date').on('change', function(){
            var date = $(this).val();
            if(date == ''){
                toast('请选择就餐日期');
                return false;
            }
            dateChecked = 1;
        });
        $('#search').on('click', function(){
            if(!dateChecked){
                toast('请选择就餐日期');
                return false;
            }
            $('#form').submit();
        })
    })
</script>
</body>
</html>
