<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <link type="text/css" href="__LIB__/toast/jquery.toast.css" rel="stylesheet" />
    <title>统计</title>
</head>
<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <a href="javascript:window.history.go(-1);"><返回</a>
            </td>
            <td width="80%" class="nav_title">日统计</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="my">
    <div class="jk">
        <table width="100%" border="0" cellspacing="0" class="my_name">
            <tr>
                <td class="my_main_p">{$date1}至{$date2}</td>
            </tr>
        </table>
    </div>
    <table width="100%" border="0" cellspacing="0" class="my_name">
        <tr>
            <td class="col-40">日统计记录</td>
            <td class="col-20"></td>
            <td class="col-40"></td>
        </tr>
        {volist name="list" id="vo"}
        <tr>
            <td class="col-40">{$vo.FSALEDATE}</td>
            <td class="col-20">订单数：{$vo.total}</td>
            <td class="col-40">金额：{$vo.amount}</td>
        </tr>
        {/volist}
    </table>
</div>
</body>
</html>
