<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <title>订单详情</title>
</head>

<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <a href="javascript:window.history.go(-1)">
                    <返回
                </a>
            </td>
            <td width="80%" class="nav_title">订单详情</td>
            <td width="10%" class="nav_r">
                <a href="{:url('index/Order/cancel', ['id' => $info.FID])}">取消订单</a>
            </td>
        </tr>
    </table>
</div>
<div class="rr">
    <table width="100%" border="0" cellspacing="0" class="my_name" style="margin-top:10px;">
        <tr>
            <td class="my_buyok_p">{$info.FDATE}{$info.FMARKER}取餐二维码</td>
        </tr>
    </table>
    <table width="70%" border="0" cellspacing="0" class="r2">
        <tr>
            <td>
                <span>
                    <img src="__STATIC__/qrcode/{$info.FID}.png">
                </span>
            </td>
        </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" class="my_name" style="margin-top:10px;">
        <tr>
            <td class="my_buyok_p">餐包括：{$info.FFOODS}</td>
        </tr>
    </table>
</div>

<div class="kb"></div>
</body>
</html>
