<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <title>成功</title>
</head>
<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <a href="{:url('index/Order/index')}"><返回</a>
            </td>
            <td width="80%" class="nav_title">成功</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="my">
    <div class="jk" style="background-color:#FFF;">
        <table width="100%" border="0" cellspacing="0" class="my_name">
            <tr>
                <td class="my_maincz_p">{$msg}！</td>
                <td></td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" class="indexmain_2">
            <tr>
                <td>
                    <a href="{:url('index/Index/index')}">
                        <input type="submit" value="返回个人中心" class="text2"/>
                    </a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
