<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <link type="text/css" href="__LIB__/toast/jquery.toast.css" rel="stylesheet" />
    <title>下单</title>
</head>

<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <form action="{:url('index/Foods/index')}" method="POST" id="form">
                    <input type="hidden" name="shitang" value="{$Think.post.shitang}" />
                    <input type="hidden" name="date" value="{$Think.post.date}" />
                    <input type="hidden" name="shiduan" value="{$Think.post.shiduan}" />
                    <a href="javascript:;" id="back"><返回</a>
                </form>
            </td>
            <td width="80%" class="nav_title">确认下单</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>
<div class="rr">
    <table width="100%" border="0" cellspacing="0" class="my_name" style="margin-top:10px;">
        <tr>
            <td class="my_buy_p">食堂</td>
            <td class="my_buyy_p">{$markerName}</td>
        </tr>
        <tr>
            <td class="my_buy_p">日期</td>
            <td class="my_buyy_p">{$date}</td>
        </tr>
        <tr>
            <td class="my_buy_p">时段</td>
            <td class="my_buyy_p">{$saleTime}</td>
        </tr>
    </table>

    <div class="takemain" style="margin-top:0px">
        {volist name="list" id="vo"}
        <div class="mymain">
            <table width="100%" border="0" cellspacing="0">
                <tr>
                    <td width="40" class="take_pic">
                        <img src="{$vo.FIMAGE}" width="100%" height="auto"/>
                    </td>
                    <td width="60" class="take_text">
                        <div take_text_1>{$vo.FNAME}</div>
                        <div>
                            <div></div>
                            <div class="jjj">数量：{$vo.FNUM} | <span>总价：{$vo.FAMOUNT}</span></div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        {/volist}
    </div>
    <table width="70%" border="0" cellspacing="0" class="r2" style="padding-bottom:60px;">
        <tr>
            <td>合计：<span>{$total}</span></td>
        </tr>
    </table>
</div>
<table width="100%" border="0" cellspacing="0" class="btn">
    <tr>
        <td width="50" class="btn1">
            <input type="button" id="payment" value="订单确认" class="btn3">
        </td>
    </tr>
</table>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/toast/jquery.toast.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript">
    $(function(){
        $('#payment').on('click', function(){
            var shitang = $('[name=shitang]').val();
            var date = $('[name=date]').val();
            var shiduan = $('[name=shiduan]').val();
            var carts = '{$Think.post.carts}';
            if(carts.length == 0){
                toast('请选择菜品', 1);
                return;
            }
            var data = {
                shitang: shitang,
                date: date,
                shiduan: shiduan,
                carts: carts
            };
            $.ajax({
                type: 'POST',
                url: "{:url('index/Order/payment')}",
                data: data,
                dataType: 'json',
                success: function(response){
                    if(response.ret == -1){
                        toast(response.msg);
                        setTimeout(function(){
                            window.location.href = response.url;
                        }, 2000)
                    }else if(response.ret == 0){
                        toast(response.msg);
                    }else{
                        toast('支付成功');
                        setTimeout(function(){
                            window.location.href = response.url;
                        }, 2000)
                    }
                }
            })
        });
        $(document).on('click', '#back', function(){
            $('#form').submit();
        })
    })
</script>
</body>
</html>
