<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link type="text/css" href="__CSS__/css.css" rel="stylesheet"/>
    <link type="text/css" href="__LIB__/toast/jquery.toast.css" rel="stylesheet" />
    <title>我的订单</title>
</head>

<body>
<div class="header">
    <table width="100%" border="0" cellspacing="0" class="header_nav">
        <tr>
            <td width="10%" class="nav_left1">
                <a href="{:url('index/Index/index')}"><返回</a>
            </td>
            <td width="80%" class="nav_title">我的订单</td>
            <td width="10%" class="nav_r"></td>
        </tr>
    </table>
</div>

<!--/*主要部分*/-->
<div class="takemain" data-page="1" data-total="{$total}">
    {volist name="list" id="vo"}
    <div class="take">
        <table width="100%" border="0" cellspacing="0">
            <tr>
                <td width="30" class="take_pic">
                    <img src="{$vo.FIMAGE}" width="100%" height="auto"/>
                </td>
                <td width="50" class="take_text">
                    <div take_text_1>{$vo.FDATE}-{$vo.FDCTIME}餐</div>
                    <div>
                        <span>{$vo.FQTY}份</span>
                        <sapn class="jj">￥{$vo.FTOTAL}</sapn>
                    </div>
                    <div class="sj">食堂：{$vo.FMARKER}</div>
                    <div class="sj">菜谱：{$vo.FFOODS}</div>
                </td>
                <td width="20" class="take_phone">
                    <div class="dh">
                        {if condition="$vo.FCLOSE eq 0"}
                        <a href="{$vo.url}">
                        {/if}
                            <img src="__IMG__/bd{$vo.FCLOSE}.png" width="100%" height="auto"/>
                        {if condition="$vo.FCLOSE eq 0"}
                        </a>
                        {/if}
                    </div>
                    <div class="jl">
                        <a href="{$vo.url}">
                            {if condition="$vo.FCLOSE eq 0"}去取餐{else/}已取餐{/if}
                        </a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    {/volist}
</div>

<div class="kb"></div>
</body>
<script type="text/javascript" src="__JS__/jquery.min.js"></script>
<script type="text/javascript" src="__LIB__/toast/jquery.toast.js"></script>
<script type="text/javascript" src="__JS__/common.js"></script>
<script type="text/javascript">
    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop();
        var scrollHeight = $(document).height();
        var windowHeight = $(this).height();
        if (scrollTop + windowHeight == scrollHeight) {
            //此处是滚动条到底部时候触发的事件，在这里写要加载的数据，或者是拉动滚动条的操作
            var page = $('.takemain').data('page');
            var total = $('.takemain').data('total');
            if (page < total) {
                $.ajax({
                    type: "POST",
                    url: "{:url('index/Order/getList')}",
                    data : {'page': parseInt(page) + 1},
                    success: function(response) {
                        if(response.ret == -1){
                            toast(response.msg);
                            setTimeout(function(){
                                window.location.href = response.url;
                            }, 2000)
                        }else if(response.ret == 0){
                            toast(response.msg);
                        }else{
                            var html = '';
                            response.data.forEach(function(item){
                                html += '<div class="take">\n' +
                                    '        <table width="100%" border="0" cellspacing="0">\n' +
                                    '            <tr>\n' +
                                    '                <td width="30" class="take_pic">\n' +
                                    '                    <img src="'+item.FIMAGE+'" width="100%" height="auto"/>\n' +
                                    '                </td>\n' +
                                    '                <td width="50" class="take_text">\n' +
                                    '                    <div take_text_1>'+item.FDATE+'-'+item.FDCTIME+'</div>\n' +
                                    '                    <div>\n' +
                                    '                        <span>'+item.FQTY+'份</span>\n' +
                                    '                        <sapn class="jj">￥'+item.FTOTAL+'</sapn>\n' +
                                    '                    </div>\n' +
                                    '                    <div class="sj">食堂：'+item.FMARKER+'</div>\n' +
                                    '                    <div class="sj">菜谱：'+item.FFOODS+'</div>\n' +
                                    '                </td>\n' +
                                    '                <td width="20" class="take_phone">\n' +
                                    '                    <div class="dh">\n';
                                if (item.FCLOSE == 0) {
                                    html += '<a href="'+item.url+'">\n';
                                }
                                html += '<img src="__IMG__/bd'+item.FCLOSE+'.png" width="100%" height="auto"/>\n';
                                if (item.FCLOSE == 0) {
                                    html += '</a>\n';
                                }
                                    html += '                    </div>\n' +
                                    '                    <div class="jl">\n' +
                                    '                        <a href="'+item.url+'">\n';
                                if (item.FCLOSE == 0) {
                                    html += '去取餐';
                                } else {
                                    html += '已取餐';
                                }
                                    html +=
                                    '                        </a>\n' +
                                    '                    </div>\n' +
                                    '                </td>\n' +
                                    '            </tr>\n' +
                                    '        </table>\n' +
                                    '    </div>';
                            });
                            $('.takemain').append(html);
                            $('.takemain').data('page', parseInt(page) + 1);
                        }
                    }
                });
            } else if (page == total) {
                toast('没有更多订单了', 1);
            }
        }
    });
</script>
</html>
